# Node modules
node_modules/

# Environment files
.env

# Build artifacts


# Sensitive keys
coinbase_cloud_api_key.json
wallet-backup.json

# Logs
*.log

# OS files
.DS_Store

# Hardhat/Truffle stuff
cache/
coverage/

# IDE/editor
.vscode/
.idea/

# Test output
test/

# Hardhat files
/cache
#/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Coinbase API credentials

